.bonus {
  margin: 35px auto;
  width: 280px;
}

.bonus__text {
  position: relative;
  padding-top: 180px;
  padding-bottom: 43px;
  width: 280px;
  color: @white;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-image: url(../img/bonus-background.jpg);
  background-repeat: no-repeat;
}

.bonus__text::after {
  position: absolute;
  content: "";
  width: 78px;
  height: 80px;
  top: 60px;
  left: 100px;
  background-image: url(../img/icon_bonus.png);
}
