.example-cat {
  background-color: @background;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    min-width: 1230px;
  }
}

.example-cat__wrapper {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-left: 110px;
    min-width: 570px;
  }
}

.example-cat__subject {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    background-color: @white;
  }
}

.example-cat__text {
  margin-top: 33px;
  font-family: Arial;
  text-align: left;
  color: @grey-black;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
   min-width: 436px;
  }
}

.example-cat__term {
  font-family: Arial;
  font-size: 12px;
  color: @grey-black;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example-cat__description {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example-cat__result {
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
