.example-cat {
  background-color: @background;
  padding: 0;
  padding-top: 27px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    background-color: @white;
  }
}

.example-cat__wrapper-subject {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 60px;
    width: 1220px;
  }
}

.example-cat__subject {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example-cat__wrapper-text {
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    margin-bottom: 300px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-bottom: 0;
    background-color: @background;
  }
}

.example-cat__container {
  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: -270px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
  }
}

.example-cat__text {
  margin-top: 33px;
  font-family: Arial;
  text-align: left;
  color: @grey-black;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
    width: 436px;
  }
}

.example-cat__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
   justify-content: flex-start;
    width: 366px;
  }
}

.example-cat__item--first-svg {
  margin-right: 42px;
}

/*.example-cat__term {
  font-family: Arial;
  font-size: 12px;
  color: @grey-black;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example-cat__description {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}*/

.example-cat__result {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -80px;
    height: 51px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin-top: 55px;
    width: 325px;
  }
}

.example-cat__result-text {
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

