.general-poster {
  margin: 0;
  background-image: url(../img/index-background.jpg);
  background-repeat: no-repeat;
	background-position: top 0;
  background-size: 100% auto;

  @media (min-width: @tablet-width) {
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    background-image: url(../img/index-background.jpg);
    background-repeat: no-repeat;
  	background-position: top right;
    background-size: 50% auto;
    height: 594px;
  }
}

.general-poster__wrapper {
  position: relative;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: grid;
    padding-left: 100px;
    margin-bottom: 580px;
    width: 709px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 190px;
    width: 1220px;
  }
}

.general-poster__title {
  padding-top: 27px;
  font-family: "Oswald";
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  line-height: 36px;
  color: #FFFFFF;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-bottom: 41px;
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: @black;
    text-align: left;
  }
}

.general-poster__title::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 709px;
    height: 609px;
    top: 280px;
    left: 10px;
    background-image: url(../img/index-product.png);
    background-repeat: no-repeat;
    background-size: 709px 609px;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    top: 10px;
    left: 590px;
    background-size: 552px 499px;
  }
}

.general-poster__slogan {
  margin-bottom: 49px;
  line-height: 14px;
  color: #FFFFFF;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
  }
}

.general-poster__link {
  margin: 0 auto;
  padding: 0;
  padding: 7px 73px;
  width: 280px;
  text-transform: uppercase;
  white-space: nowrap;

  @media (min-width: @tablet-width) {
    position: absolute;
    margin-left: 100px;
    padding: 14px 16px;
    top: 300px;
    width: 244px;
    font-size: 20px;
    line-height: 20px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    margin-left: 190px;
  }
}

.general-poster__img {

  @media (min-width: @tablet-width) {
    display: none;
  }
}

