.nutrition-program__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 30px;
    width: 1220px;
  }
}

.nutrition-program__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  @media (min-width: @desktop-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1220px;
  }
}

.nutrition-program__item {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 18px;
  width: 280px;
  background-color: @grey;
  list-style: none;


  @media (min-width: @tablet-width) {
    padding-left: 53px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    width: 570px;
  }
}

.nutrition-program__subject {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 34px;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;
    text-align: center;
  }
}

.nutrition-program__subject--slim::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 53px;
  left: 15px;
  background-image: url(../img/program-slim.svg);
  background-repeat: no-repeat;
  background-position: left top;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 211px;
    left: 390px;
    background-size: 200px 211px;
  }

  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    top: 0;
    left: 40px;
    background-size: 100px 100px;
  }
}

.nutrition-program__content {
  margin-left: 20px;
  margin-right: 33px;
  padding-bottom: 23px;
  border-bottom: 1px solid @bottom;
  font-family: Arial;
  color: @grey-black;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin: 0;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    margin: 27px 51px;
    height: 71px;
  }
}

.nutrition-program__link {
  margin-left: 20px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  float: left;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 50px;
  }
}

.nutrition-program__link svg {
  padding-left: 25px;
}

.nutrition-program__content--slim {
  @media (min-width: @tablet-width) {
    width: 377px;
  }
}

.nutrition-program__content--pro {
  @media (min-width: @tablet-width) {
    width: 342px;
  }
}

.nutrition-program__subject--pro {
  margin-left: 40px;

  @media (min-width: @tablet-width) {
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 40px;
  }
}

.nutrition-program__subject--pro::before {
  position: absolute;
  content: "";
  width: 67px;
  height: 50px;
  left: -30px;
  background-image: url(../img/program-pro.svg);
  background-repeat: no-repeat;
  background-position: left top;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 200px;
    left: 350px;
    background-size: 268px 200px;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 100px;
    top: 0;
    left: 10px;
    background-size: 134px 100px;
  }
}
