.page-header {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 0 30px;

  @media (min-width: @tablet-width)  {
    justify-content: space-between;
    width: 700px;
  }

  @media (min-width: @desktop-width)  {
    width: 1220px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo-mobile {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;

  @media (min-width: @tablet-width) and (max-width: 1439px) {
    display: block;
    margin-top: 17px;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
