.site-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    width: 444px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 52px;
    min-width: 498px;
  }
}

.site-list__item {
  border-top: 1px solid @menu;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.site-list__cross {
  margin-top: 2px;
  margin-left: 60px;
  padding-top: 8px;
  padding-right: 5px;
}

.site-list__cross--nojs {
  display: none;
}

.site-list__item--svg {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.site-list__link {
  padding: 22px 65px 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @black;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: @black;
  }
}

.site-list__link--svg {
  padding: 28px 8px 15px 0;
}

.site-list__link--general {
  @media (min-width: @desktop-width) {
    margin-left: 16px;
  }
}

.site-list__link--catalog {
  @media (min-width: @tablet-width) {
    margin-left: -9px;
    margin-right: 6px;
    width: 163px
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.site-list__link--white-color {
  @media (min-width: @desktop-width) {
    color: @white;
  }
}

.site-list__link--program {
  @media (min-width: @desktop-width) {
    margin-left: -24px;
    margin-right: -8px;
  }
}

.site-list a {
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
    padding: 0;
    border: none;
  }
}

