@white: #FFFFFF;
@black: #000000;
@grey-black: #444444;
@green: #68B738;
@grey: #F2F2F2;
@bottom: #D9D9D9;
@background: #EAEAEA;
@input: #E7E7E7;
@radio:  #222222;
@footer: #111111;
@tablet-width: 768px;
@desktop-width: 1440px;
