.form-diet__wrapper {
  margin: 0 20px;
}

.form-diet__title {
  margin-top: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
}

.form-diet__text {
  text-align: left;
  text-transform: uppercase;
}

.form-diet__fieldset {
  display: grid;
  padding: 0;
  margin: 0;
  width: 280px;
  border: none;
  text-transform: uppercase;
}

.form-diet__label {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-size: 16px;
  text-align: left;
  white-space: nowrap;
  height: 45px;
  color: @grey-black;
}

.form-diet__label input {
  margin: 0;
  padding: 0;
  padding: 13px 14px;
  font-size: 16px;
  line-height: 18px;
  color: @grey-black;
  border: 1px solid @input;
  text-transform: uppercase;
}
.form-diet__label input::placeholder {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  color: @grey-black;
}

.form-diet__label--radio {
  color: @radio;
}

.form-diet__label--radio input {
  text-align: left;
}

.form-diet__legend {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  text-align: left;
}

.form-diet__label textarea {
  width: 280px;
  height: 150px;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-diet__label textarea {
  color: @grey-black;
}

.form-diet__fieldset--checkbox {
  margin-top: 125px;
}

.form-diet__button {
  margin: 0 auto;
  padding: 0;
  padding: 7px 73px;
  width: 280px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
}

.form-diet__required-fields {
  font-family: Arial;
  line-height: 16px;
}
