.form-diet {
  margin-bottom: 33px;
}

.form-diet__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 0 30px;
    min-width: 680px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.form-diet__title {
  margin: 27px 0 37px;
  padding: 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-left: 17px;
    margin-top: 50px;
    width: 630px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 7px;
    margin-left: -21px;
    width: 1220px;
  }
}

.form-diet__text {
  margin: 0;
  margin-bottom: 34px;
  padding: 0 20px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 16px;
    padding-left: 38px;
    padding-bottom: 27px;
    width: 630px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 21px;
    padding-left: 1px;
    width: 1220px;
  }
}

@media (min-width: @desktop-width) {
  .form-diet__column {
    display: flex;
    justify-content: space-between;
  }
}

.form-diet__fieldset {
  display: grid;
  margin: 0 auto;
  border: none;
  text-transform: uppercase;
}

.form-diet__fieldset--column {
  padding-bottom: 10px;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    margin-left: 28px;
  }

  @media (min-width: @desktop-width) {
    margin-right: -96px;
    margin-left: -10px;
    width: 570px;
  }
}

.form-diet__label {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-size: 16px;
  text-align: left;
  align-items: center;
  white-space: nowrap;
  color: @grey-black;

  @media (min-width: @tablet-width) {
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-diet__label input {
  flex-grow: 1;
  padding: 13px;
  margin-left: 17px;
  margin-right: 17px;
  font-size: 16px;
  line-height: 18px;
  color: @grey-black;
  border: 1px solid @input;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 11px 18px;
    margin-right: 28px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 1px;
  }
}

.form-diet__label input::placeholder {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  color: @grey-black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-diet__container {
  padding-top: 23px;
  border-top: 1px solid @bottom;
  border-bottom: 1px solid @bottom;

  @media (min-width: @tablet-width) {
    margin: 43px 41px 49px 39px;
    padding-bottom: 0;
    padding-left: 19px;
    width: 610px;
    min-height: 168px;
    border: 1px solid @input;
  }

  @media (min-width: @desktop-width) {
    margin: 7px 2px 49px 56px;
    width: 548px;
  }
}

.form-diet__label--color-input input {
  border-color: @input-special;

  @media (min-width: @desktop-width) {
    width: 460px;
  }
}

.form-diet__fieldset--contacts {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-diet__fieldset--comment {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
  }
}

.form-diet__legend--contacts {
  display: inline-block;
  margin: 0;
  padding: 27px 20px;
  width: min-content;
  vertical-align: baseline;
  background-color: @white;

  @media (min-width: @tablet-width) {
    padding: 27px 36px 50px;
    width: max-content;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 36px 50px;
    margin-left: -37px;
  }
}

.form-diet__fieldset--contacts::after {
  position: absolute;
  content: "";
  width: auto;
  height: 2px;
  left: 120px;
  right: 0;
  top: -63px;
  background-color: @green;
  z-index: -1;

  @media (min-width: @tablet-width) {
    left: -30px;
    right: -29px;
    top: -64px;
  }

  @media (min-width: @desktop-width) {
    left: -110px;
    right: -110px;
  }
}

.form-diet__legend--comment {
  position: relative;
  padding-top: 5px;
  padding-left: 21px;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin: 0;
    padding: 22px 39px 0 37px;
    width: max-content;
  }

  @media (min-width: @desktop-width) {
    margin-left: -41px;
    padding: 24px 41px 0px 40px;
  }
}

.form-diet__fieldset--comment::after {
  position: absolute;
  content: "";
  width: auto;
  height: 2px;
  left: 162px;
  right: 0;
  top: -10px;
  background-color: @green;
  z-index: -1;

  @media (min-width: @tablet-width) {
    right: -28px;
    left: -30px;
    top: -15px;
  }

  @media (min-width: @desktop-width) {
    right: -110px;
    left: -110px;
    top: -13px;
  }
}

.form-diet__fieldset--radio {
  padding-left: 66px;

  @media (min-width: @tablet-width) {
    padding-left: 68px;
    width: 552px;
  }
}

.form-diet__label--radio {
  position: relative;
  color: @radio;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-diet__label--radio-border {
  margin-bottom: 17px;
}

.form-diet__label--radio input {
  display: none;
}

.form-diet__label--radio-on::after,
.form-diet__label--radio-off::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: -45px;
  top: -5px;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: -60px;
    top: -6px;
    background-size: 40px 40px;
  }
}

.form-diet__label--radio-on::after {
  background-image: url(../img/radio-on.svg);
}

.form-diet__label--radio-off::after {
  background-image: url(../img/radio-off.svg);
}

.form-diet__contacts {
  padding: 7px 20px;

  @media (min-width: @tablet-width) {
    padding: 24px 38px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    width: 1220px;
  }
}

.form-diet__label--svg-phone {
  @media (min-width: @tablet-width) {
    margin-left: -2px;
  }

  @media (min-width: @desktop-width) {
    margin-right: -7px;
  }
}

.form-diet__label--svg-email input {
  content: "";
  margin: 0;
  margin-left: 13px;
  padding-right: 4px;
  background-image: url(../img/icon_email.svg);
  background-repeat: no-repeat;
  background-position: right 13px top 15px;

  @media (min-width: @tablet-width) {
    margin: 1px -1px 0px 23px;
    background-position: right 18px top 18px;
  }
}

.form-diet__label--svg-phone input {
  content: "";
  margin: 0;
  margin-left: 13px;
  background-image: url(../img/icon_phone.svg);
  background-repeat: no-repeat;
  background-position: right 10px top 12px;

  @media (min-width: @tablet-width) {
    margin-left: 18px;
    padding-bottom: 10px;
    background-position: right 15px top 15px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 17px;
    margin-right: 9px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 19px;
    width: 452px;
  }
}

.form-diet__legend {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-diet__label textarea {
  width: 251px;
  margin: 38px 19px 8px;
  padding: 8px 15px;
  height: 131px;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-black;
  resize: none;

  @media (min-width: @tablet-width) {
    margin: 75px 38px 43px;
    padding: 10px 18px;
    width: 594px;
    height: 153px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 75px -2px 24px;
    width: 1183px;
  }
}

.form-diet__fieldset--checkbox {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
}

.form-diet__legend--checkbox {
  position: relative;
  margin-left: 19px;
  padding-top: 3px;
  padding-right: 22px;
  background-color: @white;

  @media (min-width: @tablet-width) {
    margin-left: 0;
    padding: 3px 41px 52px 38px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    margin-left: -36px;
    padding: 3px 40px 52px 35px;
  }
}

.form-diet__fieldset--checkbox::after {
  position: absolute;
  content: "";
  width: auto;
  height: 2px;
  left: 166px;
  right: 0;
  top: -11px;
  background-color: @green;
  z-index: -1;

  @media (min-width: @tablet-width) {
    left: -30px;
    right: 0;
    top: -66px;
  }

  @media (min-width: @desktop-width) {
    left: -110px;
    right: -110px;
    top: -65px;
  }
}

.form-diet__bonus {
  display: grid;
  padding-left: 67px;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3px 0 22px 97px;
    min-height: 142px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-left: 57px;
    margin-top: -34px;
  }
}

.form-diet__label--checkbox {
  position: relative;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-right: -32px;
  }

  @media (min-width: @desktop-width) {
    margin-right: -113px;
  }
}

.form-diet__label--checkbox-on::before,
.form-diet__label--checkbox-off::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -47px;
  width: 30px;
  height: 30px;

  @media (min-width: @tablet-width) {
    top: 0px;
    left: -58px;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }

  @media (min-width: @desktop-width) {
    top: 40px;
  }
}

.form-diet__label--checkbox-on::before {
  background-image: url(../img/checkbox-on.svg);
}

.form-diet__label--checkbox-off::before {
  background-image: url(../img/checkbox-off.svg);
}

.form-diet__label--checkbox-last {
  @media (min-width: @desktop-width) {
    width: 250px;
  }
}

.form-diet__bonus .form-diet__label {
  display: grid;

  @media (min-width: @tablet-width) {
    width: 300px;
  }
}

.form-diet__bonus .form-diet__label input {
  display: none;
}

.form-diet__notice {
  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.form-diet__button {
  margin: 0;
  padding: 0;
  margin-top: 19px;
  padding: 7px;
  width: 280px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;

  @media (min-width: @tablet-width) {
    margin: 3px 61px 0 40px;
    padding: 16px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: 0;
    margin-right: 81px;
    padding: 15px 188px;
    width: 570px;
  }
}

.form-diet__required-fields {
  margin-top: 16px;
  margin-left: 7px;
  font-family: Arial;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 11px;
    margin-left: 4px;
  }
}
